html {
  box-sizing: border-box
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
  background-color: whitesmoke;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  display: grid; 
  /* /* align-items: center; */
  min-height: 100vh;
  grid-template-rows: auto 0fr auto;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

header {
  display: grid;
  grid-template-rows: auto 1fr auto;
  justify-content: center;
  align-items: center;
  
}

#headPic {
  border-radius: 50%;
  border-color: #dc3c4d;
  border-style: solid;
}


.accordion-button {
  background-color: whitesmoke;
  font-size: 13px;
  font-weight: bold;
}

.accordian-button-body {
display: flex;
justify-content: center;
align-items: center;
background-color: whitesmoke;
}


main {

  display:grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-content: center;
}

article {
  padding: 3em 0 3em 0;
}
.brand {
  grid-row: span 2;
  height: 1vh;
}

.tablist{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  color: black;
}

.card-group{
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.r1dr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.r3dr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.r12dr {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
h1 {
  color: #dc3c4d;
}

.powered {
  display: flex;
  justify-content: center;
  align-items: center;

  /* justify-content: space-between; */
  padding-top: 1rem;
  
}

#powered-h2 {
background-color: whitesmoke;
  color: #dc3c4d;
  padding-left: 1rem;
  margin: 1rem 0 rem 0;
}

#powered-p {
  /* background-color: aqua; */
  padding: 1rem 0 0 0;
}

#powered-emoji {
  padding: 1rem;
}
